/* Andy Bell’s Modern CSS Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*colors*/

$cyan: #2ab3b1;
$cyan2: #4abfbd;
$Bright-Yellow: #c0df33;
$Grayish-Blue: #9aa7be;
$Light-Gray: #e5eff5;
$background-color: #f2f2f2;
$white: #ffff;

/*font*/

$Karla: "Karla", sans-serif;

html {
  font-size: 16px;
}

body {
  font-family: $Karla;
  background-color: $background-color;
  display: grid;
  margin: 0 auto;
  align-content: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  box-shadow: 0px 15px 30px rgba(0, 81, 171, 0.148847);
  border-radius: 5px;
}

.introduction {
  background-color: $white;
  padding: 1.75rem 1.5rem 0 1.5rem;
}

.introduction__headline {
  color: $cyan;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.44rem;
  letter-spacing: -0.016rem;
  padding-bottom: 1.5rem;
}

.introduction__money-back-garantee {
  max-width: 16.6rem;
  font-weight: bold;
  font-size: 0.9375rem;
  line-height: 1.25rem;
  letter-spacing: -0.1875px;
  color: $Bright-Yellow;
  padding-bottom: 1rem;
}

.introduction__acess {
  max-width: 16.6rem;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.625rem;
  letter-spacing: -0.175px;
  color: $Grayish-Blue;
  padding-bottom: 2rem;
}

.subscription {
  background-color: $cyan;
  padding-left: 1.5rem;
  color: $white;
  padding-bottom: 1.5rem;
}

.subscription__title {
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1, 3125rem;
  letter-spacing: -0.225px;
  color: $white;
  padding-top: 1.5rem;
  padding-bottom: 1.125rem;
}

.subscription__price {
  display: inline-flex;
  font-weight: bold;
  font-size: 2rem;
  line-height: 37px;
  letter-spacing: -0.4px;

  &::after {
    display: inline-flex;
    content: " per month";
    opacity: 0.5;
    font-weight: normal;
    font-size: 1rem;
    line-height: 26px;
    letter-spacing: -0.2px;
    mix-blend-mode: normal;
    justify-content: center;
    align-items: center;
    padding-left: 0.69rem;
  }
}

.subscription__access {
  font-weight: normal;
  font-size: 1rem;
  line-height: 26px;
  letter-spacing: -0.2px;
  padding-top: 0.25rem;
  padding-bottom: 1.625rem;
}

.subscription__sign-up {
  display: inline-block;
  background: $Bright-Yellow;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.0973011);
  border-radius: 5px;
  border: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.2px;
  color: $white;
  padding: 0.9375rem 6.375rem 0.875rem;
  &:hover {
    opacity: 0.9;
  }
}

.about-us {
  background-color: $cyan2;
  padding-left: 1.5rem;
  color: $white;
}

.about-us__title {
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 21px;
  letter-spacing: -0.225px;
  padding-top:  1.5em;
  padding-bottom: 1.125rem;
}

.about-us__description {
  padding-left: 0;
  margin: 0;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 20px;
  letter-spacing: -0.175px;
  opacity: 0.75;
  padding-bottom: 1.5rem;
}
