@charset "UTF-8";
/* Andy Bell’s Modern CSS Reset */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*colors*/
/*font*/
html {
  font-size: 16px;
}

body {
  font-family: "Karla", sans-serif;
  background-color: #f2f2f2;
  display: -ms-grid;
  display: grid;
  margin: 0 auto;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
}

.container {
  -webkit-box-shadow: 0px 15px 30px rgba(0, 81, 171, 0.148847);
          box-shadow: 0px 15px 30px rgba(0, 81, 171, 0.148847);
}

.introduction {
  background-color: #ffff;
  padding: 1.75rem 1.5rem 0 1.5rem;
  border-radius: 5px 5px 0px 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  -ms-border-radius: 5px 5px 0px 0px;
  -o-border-radius: 5px 5px 0px 0px;
}

.introduction__headline {
  color: #2ab3b1;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.44rem;
  letter-spacing: -0.016rem;
  padding-bottom: 1.5rem;
}

.introduction__money-back-garantee {
  max-width: 16.6rem;
  font-weight: bold;
  font-size: 0.9375rem;
  line-height: 1.25rem;
  letter-spacing: -0.1875px;
  color: #c0df33;
  padding-bottom: 1rem;
}

.introduction__acess {
  max-width: 16.6rem;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.625rem;
  letter-spacing: -0.175px;
  color: #9aa7be;
  padding-bottom: 2rem;
}

.subscription {
  background-color: #2ab3b1;
  padding-left: 1.5rem;
  color: #ffff;
  padding-bottom: 1.5rem;
}

.subscription__title {
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1, 3125rem;
  letter-spacing: -0.225px;
  color: #ffff;
  padding-top: 1.5rem;
  padding-bottom: 1.125rem;
}

.subscription__price {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-weight: bold;
  font-size: 2rem;
  line-height: 37px;
  letter-spacing: -0.4px;
}

.subscription__price::after {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  content: " per month";
  opacity: 0.5;
  font-weight: normal;
  font-size: 1rem;
  line-height: 26px;
  letter-spacing: -0.2px;
  mix-blend-mode: normal;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0.69rem;
}

.subscription__access {
  font-weight: normal;
  font-size: 1rem;
  line-height: 26px;
  letter-spacing: -0.2px;
  padding-top: 0.25rem;
  padding-bottom: 1.625rem;
}

.subscription__sign-up {
  display: inline-block;
  background: #c0df33;
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.0973011);
          box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.0973011);
  border-radius: 5px;
  border: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.2px;
  color: #ffff;
  padding: 0.9375rem 6.375rem 0.875rem;
}

.subscription__sign-up:hover {
  opacity: 0.9;
}

.about-us {
  background-color: #4abfbd;
  padding-left: 1.5rem;
  color: #ffff;
  border-radius: 0px 0px 5px 5px;
  -webkit-border-radius: 0px 0px 5px 5px;
  -moz-border-radius: 0px 0px 5px 5px;
  -ms-border-radius: 0px 0px 5px 5px;
  -o-border-radius: 0px 0px 5px 5px;
}

.about-us__title {
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 21px;
  letter-spacing: -0.225px;
  padding-top: 1.5em;
  padding-bottom: 1.125rem;
}

.about-us__description {
  padding-left: 0;
  margin: 0;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 20px;
  letter-spacing: -0.175px;
  opacity: 0.75;
  padding-bottom: 1.5rem;
}

@media screen and (min-width: 800px) {
  .container {
    max-width: 635px;
    border-radius: 8px 8px 0 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "introduction introduction" "subscription about-us";
    -webkit-border-radius: 8px 8px 0 0;
    -moz-border-radius: 8px 8px 0 0;
    -ms-border-radius: 8px 8px 0 0;
    -o-border-radius: 8px 8px 0 0;
  }
  .introduction {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: introduction;
  }
  .subscription {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: subscription;
  }
  .about-us {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: about-us;
  }
  .introduction__money-back-garantee,
  .introduction__acess {
    max-width: none;
  }
  .introduction,
  .subscription,
  .about-us {
    padding-left: 2.5rem;
  }
  .introduction {
    padding-right: 0;
    border-radius: 8px 8px 0px 0px;
  }
  .introduction__headline {
    font-size: 1, 5rem;
    line-height: 28px;
    letter-spacing: -0.3px;
    padding-top: 2.5rem;
    padding-bottom: 1, 5rem;
  }
  .introduction__money-back-garantee {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.225px;
    padding-bottom: 0.6875rem;
  }
  .introduction__acess {
    min-width: 555px;
    font-size: 1rem;
    line-height: 26px;
    letter-spacing: -0.2px;
    padding-right: 2.5rem;
    padding-bottom: 2.5rem;
  }
  .subscription {
    padding-right: 2.5rem;
  }
  .subscription__title,
  .about-us__title {
    padding-top: 2.5rem;
  }
  .subscription__sign-up {
    padding: 0.9375rem 5.5625rem 0.875rem;
  }
  .about-us__description {
    padding-bottom: 2.5rem;
  }
}
/*# sourceMappingURL=style.css.map */